@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/****nav bar :start*****/

.logo {
    width: 110px;
    height: 70px;
    margin-left: 20px;
    border-right: grey 1px solid;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: blue;
}

nav {
    float: right;
    display: flex;
}

.nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 15px;
}

.nav ul li {
    padding: 5px 3px;
    margin: 15px 5px;
    color: blue;
}

@media(max-width: 858px) {

    .nav ul li a {
        display: none;
    }

    .icon-badge {
        display: none !important;
    }

    hr {
        display: none;
    }

    .container p {
        text-align: center;
    }

    .logo {
        border: none !important;
    }
}

.collect {
    position: absolute;
    top: 25px;
    padding: 0px 10px;
}

.icon {
    position: relative;
    right: 6px;
}

.icon-badge {
    position: absolute;
    top: 12px;
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    font-size: 10px;
    border-radius: 50%;
}

/******navbar :end *****/

.line {
    width: 100%;
    color: rgb(34, 19, 34);
    height: 30%;
}

.container {
    max-width: 86%;
    padding: 20px;
    margin: auto;
}

.section-two {
    max-width: 100%;
    padding: 0px;
}

@media (min-width:425px) {
    .section-two h4 {
        text-align: center;
        position: absolute;
        left: 11rem;
        font-size: 18px;
        color: rgb(102, 98, 98);
    }
}

section div {
    padding: 20px 0px;
    text-align: center;
    flex-basis: 100%;
}

section div p {
    font-size: 14px;
}

.value {
    font-size: 42px;
    font-weight: bold;
}

@media(min-width:768px) {
    section {
        display: flex;
        justify-content: space-between;
    }

    .card-head i {
        color: rgb(170, 164, 164);
        float: right;
        font-size: 35px;
        padding: 10px;
    }

}

@media(max-width:425px) {
    .value {
        font-size: 22px;
        font-weight: bold;
    }

    section div p {
        font-size: 12px;
    }
}

.container-2 {
    max-width: 100%;
    border: 1px solid #ccc;
    padding: 7px 20px;
    margin: 10px 40px;
    border-radius: 6px;
}

.section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 20px;
}

button {
    padding: 5px 10px;
    float: right;
    color: blue;
    background-color: lightgrey;
    outline: none;
    border: 1px solid gray;
    border-radius: 4px;
    position: absolute;
    right: 12rem;
}

.btn1 {
    background-color: blue;
    color: white;
}

input {
    margin: 10px 10px;
    padding: 5px 12px;
    outline: none;
    border: 1px solid grey;
    border-radius: 4px;
}

/*******card****/
.card {
    height: 250px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-basis: 50%;
    padding: 0px;
    margin: 10px 10px;
}

.section-three {
    max-width: 100%;
    padding: 10px 20px;
    margin: 20px;
}

.card-head {
    padding: 10px;
    background-color: rgb(245, 238, 238);
    height: 30%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.card-head i {
    color: rgb(170, 164, 164);
    float: right;
    font-size: 35px;
    padding: 10px;
}

.section-three div p {
    text-align: left;
    font-size: 12px;
}

.card-body {
    font-weight: bold;
}

#count {
    font-size: 10px;
    color: blue;
    font-weight: bold;
    padding: 10px 2px;
}

.amount {
    float: right;
    color: rgb(170, 164, 164);
}

.card-footer i {
    float: left;
    font-size: 12px;
    padding: 0px;
}

.card-footer {
    padding: 2px;
}

.card-footer div {
    padding: 2px 2px;
    margin: 0px;
}

.icon3 {
    margin-right: 7px;
}

.user-info {
    padding: 7px !important;
}

.text {
    color: rgb(185, 14, 66);
    font-size: 10px;
}

.time {
    font-size: 12px;
}

.user {
    font-size: 10px;
}

/*****card:end *****/